.responsive {
width: 100%;
height: auto;
}
img {
display: block;
margin-left: auto;
margin-right: auto;
}
body {
background-image: url();
background-repeat: no-repeat;
font-family: 'Atkinson Hyperlegible', sans-serif;

background-attachment: fixed;
background-size: cover;
background-color: #EC5A3B;
}
h1{
  text-align: center;
  font-size: 70px;
  font-family: "Source Sans Pro";
}
.text{
  text-decoration: none;
    color: #FFFFFF;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 30px;
}
.text-2{
  text-decoration: none;
    color: #2B2BE5;
    font-size: 20px;

}
.check{
  text-align: center;
  font-size: 20px;
}
.button {
  background-color:#8B008B;
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  display: inline-block;
  font-size: 16px;
  margin: 6px 4px;
  cursor :pointer;}
